# dependencies
node_modules/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts
app-example # Ignores the example file often generated in Expo Router

# Environment Variables (CRITICAL FOR SECRETS)
# This ignores the .env file that holds your CLERK_PUBLISHABLE_KEY, etc.
.env
.env*.local

# Native (iOS/Android builds)
android/build/
ios/build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro / Debug
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

#.e
.expo/
.expo-shared/
.vscode/
